<!DOCTYPE html>
<html>

<head>
<meta charset='utf-8' />
<title>DC Ride Administration</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/styles.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK1mDtgeh_BD_kVclDiPgjG8euDTigdE"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>




</head>

<body>
 <section class="d-flex flex-column justify-content-between" id="background">
<nav class="navbar navbar-light navbar-expand-md fixed-top bg-white">
    <div class="container-fluid"><a href="/" class="navbar-brand"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li role="presentation" class="nav-item"><a href="#video" class="nav-link js-scroll-trigger">How it works</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link js-scroll-trigger">Features</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link js-scroll-trigger">Pricing</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link js-scroll-trigger">Purchase</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
              <!-- {{^adminname}}
                <li role="presentation" class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                <li role="presentation" class="nav-item"><a href="/register" class="nav-link">Sign Up</a></li>
                {{/adminname}} -->

                  <li role="presentation" class="nav-item" id="logout">
                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <b>  Welcome {{username}} </b>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/dashboard/user">My dashboard</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
</li>

            </ul>
        </div>
    </div>
</nav>

        <div id='mapAdmin'></div>
        <div id='tableAdmin' style="overflow-x:auto;"">
            <table id="carLocationTable">
                <tr>
                    <th>Car ID</th>
                    <th>Car Longitude</th>
                    <th>Car Latitude</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/vendor/markerAnimate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/SlidingMarker.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="carController.js"></script>
</html>
