<!DOCTYPE html>
<html>

<head>
<meta charset='utf-8' />
<title>Administration</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK1mDtgeh_BD_kVclDiPgjG8euDTigdE"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>



<style>
     #map {
        height: 50%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>
</head>

<body>

    <div id='map'></div>
    <div id='allCarsForm'>
    </div>
    
    
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/vendor/markerAnimate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/SlidingMarker.min.js"></script>
<script src="carController.js"></script>
</html>
