<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/histories.css">
    <title>Car Histories</title>
  </head>
  <body>
    <section class="d-flex flex-column justify-content-between" id="background">
        <div id="main-top">
            <div class="description main">
            </div><nav class="navbar navbar-light navbar-expand-md fixed-top bg-white">
    <div class="container-fluid"><a href="/" class="navbar-brand"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <!-- <ul class="nav navbar-nav mr-auto">
                <li role="presentation" class="nav-item"><a href="#video" class="nav-link js-scroll-trigger">How it works</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link js-scroll-trigger">Features</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link js-scroll-trigger">Pricing</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link js-scroll-trigger">Purchase</a></li>
            </ul> -->
            <ul class="nav navbar-nav ml-auto">
              <!-- {{^username}}
                <li role="presentation" class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                <li role="presentation" class="nav-item"><a href="/register" class="nav-link">Sign Up</a></li>
                {{/username}} -->

                  <li role="presentation" class="nav-item" id="logout">
                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <b>  Welcome {{username}} </b>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/dashboard/admin">My dashboard</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
</li>
           <!-- <li role="presentation" class="nav-item" id="logout"><a href="/logout" class="nav-link">Logout</a></li> -->

            </ul>
        </div>
    </div>
</nav></div>

<div id="historyDiv">





{{#transactions}}
<h4>CAR {{carid}} BOOK INFORMATION</h4>
    <ul>
<li>
  Book date : {{createdAt}}
</li>
    <li>
      Car starting location: {{carstartlocation}}
    </li>
    <li>
      Customer pickup location: {{pickuplocation}}
    </li>
    <li>
      Customer dropofflocation: {{dropofflocation}}
    </li>
    <li>
      Trip duration of the car: {{tripduration}}
    </li>
    <li>
      Total cost: {{cost}}
    </li>

  </ul>
{{/transactions}}

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
  <script src="/js/homepage.js" type="text/javascript">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>


</script>
  </body>
</html>
