<html>
  <head>

    <title></title>
    <link rel="stylesheet" href="/css/customerLocation.css">
  </head>
  <body>
<div id="map">

</div>
<div id="output">

</div>
<script src="/js/customerLocation.js" type="text/javascript"></script>
  </body>
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK1mDtgeh_BD_kVclDiPgjG8euDTigdE&callback=initMap">
</script>



</html>
