<html>
<body>

< <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK1mDtgeh_BD_kVclDiPgjG8euDTigdE&libraries=places" async defer></script>

</script>

      async defer></script>
<button onclick="getLocation()">find your car </button>

<p id="demo"></p>

<ui id="mapholder"></ui>

<script src= distance.js></script>
</body>
</html>
