<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button id="requestButton">Reguest a Ride</button>
   <div id="requestContainer">

   </div>
   <!-- <div class="pac-card" id="pac-card">
     <div>
       <div id="title">
         Autocomplete search
       </div>
       <div id="type-selector" class="pac-controls">
         <input type="radio" name="type" id="changetype-all" checked="checked">
         <label for="changetype-all">All</label>

         <input type="radio" name="type" id="changetype-establishment">
         <label for="changetype-establishment">Establishments</label>

         <input type="radio" name="type" id="changetype-address">
         <label for="changetype-address">Addresses</label>

         <input type="radio" name="type" id="changetype-geocode">
         <label for="changetype-geocode">Geocodes</label>
       </div>
       <div id="strict-bounds-selector" class="pac-controls">
         <input type="checkbox" id="use-strict-bounds" value="">
         <label for="use-strict-bounds">Strict Bounds</label>
       </div>
     </div>
     <div id="pac-container">
       <input id="pac-input" type="text"
           placeholder="Enter a location">
     </div>
   </div>
   <div id="map"></div>
   <div id="infowindow-content">
     <img src="" width="16" height="16" id="place-icon">
     <span id="place-name"  class="title"></span><br>
     <span id="place-address"></span>
   </div>








<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK1mDtgeh_BD_kVclDiPgjG8euDTigdE&libraries=places&callback=initMap"
        async defer></script> -->
    <script src="/js/userDashboard.js" type="text/javascript">

    </script>
  </body>
</html>
