#background {
  width: 100%;
  height: 100vh;
  background-image: url("/img/home2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255,255,255);
  font-family: Montserrat, sans-serif;
}

@media (min-width: 768px) {
  #background {
    background-image: url("/img/home1.png");
  }
}

.navbar-light .navbar-brand {
  background-image: url("/img/logo_transparent_background.png");
  background-repeat: no-repeat;
  width: 139px;
  background-position: center;
  background-size: cover;
  height: 42px;
}

#navcol-1 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

.description.main {
  padding-top: 100px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  /*color: white;*/
}

.p-top {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 19px;
  margin: 0px;
}

.p-bottom {
  font-size: 16px;
}

#background .container {
  max-width: 825px;
  text-align: center;
}

.col-9.offset-2 p {
  font-weight: bold;
}

#video {
  text-align: center;
}

#login {
  padding-top: 35px;
  font-family: Montserrat, sans-serif;
}

#signup {
  padding-top: 35px;
  font-family: Montserrat, sans-serif;
}
body {
  font-family: Montserrat, sans-serif;
}

.pricing-item i {
  font-size: 80px;
  color: teal;
}

#pricing {
  background-color: #e8e8e8;
}

footer {
  text-align: center;
  padding-top: 15px;
}
