#background {
  width: 100%;
  height: 100vh;
  background-image: url("/img/home2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255,255,255);
  font-family: Montserrat, sans-serif;
}
#pricing{
  background-color: #d9d9d9;
}
.copyright{
  text-align:center;
}
@media (min-width: 768px) {
  #background {
    background-image: url("/img/home1.png");
  }
}
@media (min-width: 992px) {
 .p-bottom {
   font-size: 21px !important;
 }
}
@media (min-width: 992px) {
 .p-top {
   font-size: 25px !important;
 }
}
@media (min-width: 992px) {
 .col-9.offset-2 {
   font-size: 19px !important;
 }
}
.navbar-light .navbar-brand {
  background-image: url("/img/logo_transparent_background.png");
  background-repeat: no-repeat;
  width: 139px;
  background-position: center;
  background-size: cover;
  height: 42px;
}
#navcol-1 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}
.description.main {
  padding-top: 100px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  /*color: white;*/
}
.p-top {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 19px;
  margin: 0px;
}
.p-bottom {
  font-size: 16px;
}
#background .container {
  max-width: 825px;
  text-align: center;
}
.col-9.offset-2 p {
  font-weight: bold;
}
#video {
  text-align: center;
}
#login {
  padding-top: 35px;
  font-family: Montserrat, sans-serif;
}
#signup {
  padding-top: 35px;
  font-family: Montserrat, sans-serif;
}
 #mapAdmin {
   margin-top: -17px;
        height: 50%;
        width: auto;
        display: flex;
      }
 #tableAdmin {
        height: auto;
        width: auto;
        display: flex;
        overflow-x:auto;
        overflow-y:auto;
        margin-bottom:10%;
        overflow-x:auto;
      }
#toOpenSpace{
  height:70px;
  width: 100%;
}
th {
  padding: 25px;
  text-align: left;
}
td {
  text-align: left;
  height:30px;
}
tr {
  text-align: left;
}
tr:nth-child(even) {background-color: #272727;}
tr:nth-child(odd) {background-color: #444040;}
#carLocationTable {
  table-layout: auto;
  width: 100%;
}
.pricing-item i {
  font-size: 60px;
  color: teal;
}